
@{
    ViewBag.Title = "MainPage";
}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="~/Stylesheet/newStylemain.css" rel="stylesheet" />

    <div class="My_slider">
        <img id="0" src="~/Stylesheet/gym/modify0.jpg" alt="Alternate Text" />
        <img id="1" src="~/Stylesheet/gym/modify1.jpg" alt="Alternate Text" />
        <img id="2" src="~/Stylesheet/gym/modify2.jpg" alt="Alternate Text" />
    </div>
    <div class="Description">
        <h1 class="header-2-bold">Lorem</h1>
        <p class="text-block-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi consequuntur accusamus minus aliquam vitae omnis, maiores totam sint accusantium suscipit eveniet, modi deserunt nisi voluptas est quae obcaecati? Aspernatur.</p>
        <button class="rt">Read More</button>

    </div>

<div class="choise">
    <div class="container">
        <h1 class="heading-3" style="text-align:center;color:#22d1ee;">Lorem</h1>
        <div class="row someSpace">
            <a href="#Eench">
                <div class="col-md-2 col-md-offset-3 mobile-size  ">
                    <div class="centerBlock size A" style="background-color:#242582;">

                        <img src="~/Stylesheet/gym/icons8-bench-press-100.png" alt="Alternate Text" class="img-responsive " />
                        <p class="Types">Bench-pres</p>

                    </div>
                </div>
            </a>
            <a href="#Bench">
                <div class="col-md-2 mobile-size ">
                    <div class="centerBlock size B" style="background-color:#553d67;">

                        <img src="~/Stylesheet/gym/icons8-boxing-100.png" alt="Alternate Text" class="img-responsive " />
                        <p class="Types">Boxing</p>

                    </div>
                </div>
            </a>
            <a href="#Boxing">
                <div class="col-md-2 mobile-size ">

                    <div class="centerBlock size C" style="background-color:#f64c72">

                        <img src="~/Stylesheet/gym/icons8-deadlift-100.png" alt="Alternate Text" class="img-responsive" />
                        <p class="Types">Deadlift</p>

                    </div>
                </div>
            </a>
        </div>

        <div class="row someSpace ">
            <a href="#Deadlift">
                <div class=" col-md-6 mobile-size   ">
                    <div class=" size  D pull-right  mobile-center  " style="background-color:#99738e;">

                        <img src="~/Stylesheet/gym/icons8-taekwondo-100.png" alt="Alternate Text" class="img-responsive" />
                        <p class="Types">Taekwondo</p>

                    </div>
                </div>
            </a>
            <a href="#Taekwondo" id="Eench">
                <div class="col-md-6   mobile-size  ">
                    <div class=" size E pull-left mobile-center" style="background-color:#2f2fa2;">

                        <img src="~/Stylesheet/gym/icons8-gymnastics-100.png" alt="Alternate Text" class="img-responsive" />
                        <p class="Types">Gymnastics</p>

                    </div>
                </div>
            </a>
        </div>
        <h1 class="heading-3" style="text-align:center;color:#22d1ee;">Lorem</h1>
        <div class="morepading">
            <h3 class="header-2-bold" style="font-size:30px;">Bench-pres</h3>
            <p class="text-block-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi consequuntur accusamus minus aliquam vitae omnis, maiores totam sint accusantium suscipit eveniet, modi deserunt nisi voluptas est quae obcaecati? Aspernatur.</p>
            <h3 class="header-2-bold" style="font-size:30px;">Boxing</h3>
            <p class="text-block-3" id="Boxing">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi consequuntur accusamus minus aliquam vitae omnis, maiores totam sint accusantium suscipit eveniet, modi deserunt nisi voluptas est quae obcaecati? Aspernatur.</p>
            <h3 class="header-2-bold" style="font-size:30px;">Deadlift</h3>
            <p class="text-block-3" id="Deadlift">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi consequuntur accusamus minus aliquam vitae omnis, maiores totam sint accusantium suscipit eveniet, modi deserunt nisi voluptas est quae obcaecati? Aspernatur.</p>
            <h3 class="header-2-bold" style="font-size:30px;">Taekwondo</h3>
            <p class="text-block-3" id="Taekwondo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi consequuntur accusamus minus aliquam vitae omnis, maiores totam sint accusantium suscipit eveniet, modi deserunt nisi voluptas est quae obcaecati? Aspernatur.</p>
            <h3 class="header-2-bold" style="font-size:30px;">Gymnastics</h3>
            <p class="text-block-3" id="Gymnastics">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto sequi consequuntur accusamus minus aliquam vitae omnis, maiores totam sint accusantium suscipit eveniet, modi deserunt nisi voluptas est quae obcaecati? Aspernatur.</p>
        </div>
    </div>
</div>
<br />
<hr />
<footer>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d410.13745990125125!2d-1.8873422454220892!3d34.67743363679866!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd7863368e7f00fb%3A0xd86a86baace0e225!2sSnack%20ZOLA!5e0!3m2!1sar!2sma!4v1586216412163!5m2!1sar!2sma" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="container">
        <div class="row blockquote-footer card-footer">
            <div class="col-md-4">
                <h1>Contact</h1>
                <p>Numero : 06000000</p>
                <p>Email : Achbal@ach.ma</p>
                <p>facebook : facebook.com</p>
            </div>
        </div>
    </div>

</footer>
<script>


    document.addEventListener("DOMContentLoaded", function (e) {
        var Count = 0;
        var Clear = 1;

        var A = $(".My_slider img").val(function () {
            return $(this).attr("id");
        });



        setInterval(function (e) {

            if (Count >= A.length) {

                Count = 0;
                Clear = 1;

            }

            $(`.My_slider #${A[Count].id}`).show("fade", 700);
            $(`.My_slider #${A[Count].id}`).delay(3000).hide("slide", { direction: "left" }, 200);

            Count++;
            console.log(Count);

        }, 3800);

    });

</script>
<style>
 @@media screen and (max-width: 526px) {
    .mobile-size {
        margin: 20px;
    }

   .mobile-center,.pull-left,.pull-right{
     float: none !important;
      text-align: center;
    }
   .col-md-6{
       display:block;
       margin:0 auto;
       width:55%;
      min-width:180px;
    

   }
}
 .morepading{
     padding:20px;
 }
</style>


